fastapi==0.110.0
uvicorn==0.27.1
mysql-connector-python==8.3.0
pandas==2.2.3
numpy==2.2.6
scikit-learn==1.6.0
xgboost==2.0.3
pydantic==2.6.4
python-dotenv==1.0.1
imbalanced-learn==0.13.0
matplotlib==3.11.2
twilio==8.1.0